#footer {
    font-size: 13px;
    margin-bottom: 20px;
}

body {
    font-family: helvetica;
    font-size: 13px;
}

#post {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar {
    margin-top: 10px;
}
